extends layouts/_default.pug
block title
  title Azure Marketplace

include ../comps/1_Topbar/Topbar
include ../comps/2_Banner/Banner

block content
  main.desktop
    +Topbar(Topbar)
    +Banner(Banner)
