extends layouts/_default.pug
block title
  title Azure Marketplace

include ../comps/1_Topbar/Topbar
include ../comps/2_Banner/Banner
include ../comps/3_Favor/Favor
include ../comps/4_Channel/Channel
include ../comps/5_Res/Res

block content
  main.desktop
    +Topbar(Topbar)
    +Banner(Banner)
    +Favor(Favor)
    +Channel(Channel)
    +Res(Res)
