// Common styles of the project

html
  box-sizing: border-box
*,
*:before,
*:after
  box-sizing: inherit


body
  font-family: "Segoe UI", "SegoeUIRegular", "Helvetica Neue", Arial, sans-serif
  font-size: 18px
  font-style: normal
  font-variant: normal
  font-weight: 400
  background-color: #fff
  color: $main-color

.row
  max-width: 960px
  margin: 0 auto

h1
  margin: 0
  font-family: "SegoeUILight", Arial, sans-serif
  font-size: $h1-size-phone
  +mq-size(desktop)
    font-size: $h1-size-desktop
