// File for less-vars.
// For example: main colors, paddings and so on.

$main-color = #1c2532
$acent-color = #7bb63c
$blue-color = #0078d7

$p-size-phone = 16px
$p-size-desktop = 18px
$h1-size-phone = 34px
$h1-size-desktop = 48px
