mixin Banner(data)
  .banner
    .banner__inner.row
      .banner__text
        h1 Azure Marketplace
        p Магазин Azure Marketplace представляет собой каталог решений, сервисов, образов окружений разнообразной сложности, готовых для быстрого автоматического развертывания на платформе Azure.
        p Основная идея Azure Marketplace – дать независимому разработчику канал продаж своих решений по всему миру, а клиентам Azure – легкий способ развернуть функциональные решения в собственной инфраструктуре.
      .banner__image
        img(src="static/img/assets/2_Banner/banner-image.svg", alt="Banner image", width="480", height="490")
