.banner
  background-image: url(../img/assets/2_Banner/cloud.svg), url(../img/assets/2_Banner/cloud.svg)
  background-position: calc(100% + 150px) bottom, -150px 10%
  background-repeat: no-repeat
  background-size: calc(530px / 2) calc(345px / 2)
  background-color: #00bbf1

+mq-size(desktop)
  .banner
    height: 550px
    background-image: url(../img/assets/2_Banner/radial-gradient.png), url(../img/assets/2_Banner/cloud.svg),
    url(../img/assets/2_Banner/cloud.svg)
    background-position: bottom center, -110px 85px, calc(100% + 160px) 170px
    background-repeat: no-repeat
    background-blend-mode: screen, normal, normal
    background-size: auto, 530px 345px, 530px 345px
    background-color: #00bbf1

.banner__inner
  padding: 30px 20px
  +mq-size(desktop)
    display: flex
    align-items: center
    justify-content: space-between
    height: 550px
    padding: 0

.banner__text
  color: #fff
  max-width: 470px
  h1
    font-size: 34px
    font-weight: 200
    font-family: "SegoeUILight"
  p
    font-size: 16px
    line-height: 1.3

.banner__image
  display: none
  +mq-size(desktop)
    display: block
