mixin Channel(data)
  .channel
    .channel__inner.row
      .channel__image-box
        img.channel__image(src="static/img/assets/4_Channel/map.svg", alt="Map")
      .channel__text
        | Решения в Azure Marketplace из России. Познакомьтесь с лучшими российскими решениями уже размещенными в <a href="#">магазине Azure Marketplace</a>.
