.topbar
  background-color: #fff
  height: 70px
  box-shadow: inset 0px -5px 0px 0px rgba(238,238,238,1)
  padding: 0 20px
  +mq-size(desktop)
    padding: 0

.topbar__inner
  display: flex
  align-items: center
  justify-content: space-between
  height: 70px

.topbar__share
  color: #b1b0b1
  display: flex

.share__text
  display: none
  +mq-size(tablet)
    padding-right: 15px
    display: block

.share__link
  text-decoration: none

.icon__fb,
.icon__vk
  width: 28px
  height: 28px
  +mq-size(tablet)
    width: 22px
    height: 22px
.icon__fb
  padding-right: 10px
  box-sizing: content-box
  +mq-size(tablet)
    padding-right: 0
