.topbar
  background-color: #fff
  height: 70px
  box-shadow: inset 0px -5px 0px 0px rgba(238,238,238,1)
  +mq-size(phone-only)
    padding: 0 20px

.topbar__inner
  display: flex
  align-items: center
  justify-content: space-between
  height: 70px

.topbar__share
  color: #b1b0b1
  display: flex

.share__text
  padding-right: 15px
  +mq-size(phone-only)
    display: none

.share__link
  text-decoration: none

.icon__fb,
.icon__vk
  +mq-size(phone-only)
    width: 28px
    height: 28px
.icon__fb
  +mq-size(phone-only)
    padding-right: 10px
